<%- include('./include/begin.ejs') %>
<haed>

<style>
    .card{
        box-shadow: 0 0 100px rgba(0,0,0,0.2);
    }
    input[type=submit] {
        width: 65%;
        /*background-color: #4CAF50;*/
        /*color: white;*/
        padding: 14px 20px;
        /*margin: 8px 0;*/
        /*border: none;*/
        /*border-radius: 4px;*/
        /*cursor: pointer;*/
    }
</style>
    <script src="/js/questionnaire.js"></script>

</haed>
<body>
<section id="contact" class="contact">
    <div class="container" id="22">
        <form action="/register/saveQuestionnaireData" method="POST" class=" needs-validation novalidate myForm111" id="form12" required onsubmit="mysubmit(event);" >
            <div  class="  fst-italic row d-flex justify-content-end mb-3 ">
                <br><br>
                <div class="card   row mb-3" style="max-width: 50rem;">
                    <br>
                    <div class="fst-italic row d-flex justify-content-end">
                        <div dir="rtl" class="col-lg-6  ">
                            <%- include('./question/question1.ejs') %>
                        </div> <br><br><br>


                        <div dir="rtl" class="   col-lg-6  ">
                            <div class="input-group">
                                <select selected type="text" class="form-select" id="question" name="propertyType" >
                                    <option  value="0">מהו סוג הנכס</option>
                                    <option value="1">דירה מקבלן</option>
                                    <option value="2">דירה מחיר למשתכן </option>
                                    <option value="3">דירה יד שניה</option>
                                    <option value="4">בית פרטי</option>
                                    <option value="5">בית בבניה עצמית</option>
                                    <option value="6">מגרש</option>
                                </select>
                                <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
                            </div>
                        </div><br><br><br>
                    </div>

                    <div class="fst-italic row d-flex justify-content-end ">




                        <div dir="rtl" class="col-lg-6">
                            <%- include('./question/question5.ejs') %>
                        </div> <br><br><br>

                        <div dir="rtl" class="col-lg-6">
                            <%- include('./question/question3.ejs') %>
                        </div><br><br><br>

                        <div dir="rtl" class="col-lg-6">
                            <%- include('./question/question4.ejs') %>
                        </div><br><br><br>


                    </div>
                </div><br><br><br><br>
                <br><br><br><br>



                <div dir="rtl" class="card  row mb-3" id="jj" style="max-width: 50rem;">
                    <br>
                    <div dir="rtl" class="col-lg-12">
                        <%- include('./question/question7.ejs') %>
                    </div>
                    <br>
                    <div class="" id="ss">
                        <br>
                    </div>
                    <div class="" dir="rtl" id="tt">
                    </div>
                    <br>
                </div>
                <br><br><br>



                <div dir="rtl" class=" d-none card   row mb-3"  style="max-width: 50rem;" id="aboutWork222">
                    <br>
                    <div class="mb-3" id="aboutWork"></div>
                </div><br><br><br>


                <!--            <div dir="rtl" class="row">-->

                <!--            </div><br><br><br>-->

                <div class=" d-flex justify-content-end mt-md-3">
                    <input type="submit" value="הגש" class="btn btn-primary mb-3" >
                    <h1 id="error"></h1>
                </div>


            </div>
        </form>
    </div>
</section>
<%- include('./include/end.ejs') %>
</body>
</html>