
<!--<body>-->
<!--<section id="contact" class="contact">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8  form-group mb-3">-->
<!--<form method="get" action="/questionRoute/question10" >-->
<div class=" row   " id="salary"  >
    <br>
<div class="row">
    <div  class="row">
    <%- include('./question18.ejs') %>
    </div>
<!--    <div class="col-lg-4 mb-3" >-->
<!--מספר ילדים מתחת לגיל 18-->
<!--    </div>-->

    <div class="d-none row mb-3" id="notEmployed1" >
        <%- include('./question21.ejs') %>
    </div>

    <div class="d-none row mb-3" id="pension" >
        <%- include('./question22.ejs') %>
    </div>
    <div class="d-none row mb-3" id="annuity" >
        <%- include('./question23.ejs') %>
    </div>
    <div class="d-none row mb-3" id="scholarship" >
        <%- include('./question19.ejs') %>
    </div>

    <div class="d-none row mb-3" id="mons3" >
        <%- include('./question11.ejs') %>
    </div>

<div class="d-none row" id="aboutRevenue">

    <div class=" col-lg-12 mb-3 ">
        <div class="input-group">
            <select type="text" class="form-select" id="moreRevenue" onclick= {additionalRevenue} >
                <option value="02">האם יש הכנסות נוספות</option>
                <option value="yes1">כן</option>
                <option value="no">לא</option>

            </select>
            <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
        </div>
    </div>


    <div class=" mb-3" >
        <%- include('./question13.ejs') %>

    </div>

    <div class=" col-lg-12 mb-3 ">
        <div class="input-group">
            <select type="text" class="form-select" id="commitment" onclick= {commitment} >
                <option value="02">האם יש התחיביות חודשיות ליותר מחצי שנה?</option>
                <option value="yes1">כן</option>
                <option value="no">לא</option>

            </select>
            <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
        </div>
    </div>

    <div class=" mb-3" >
        <%- include('./question15.ejs') %>

    </div>

    <div class=" col-lg-12 mb-3 ">
        <div class="input-group">
            <select type="text" class="form-select" id="pansyProblem" onclick= {pansyProblem} >
                <option value="02">האם היו בעיות בהתנהלות הפנססית?</option>
                <option value="yes1">כן</option>
                <option value="no">לא</option>

            </select>
            <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
        </div>
    </div>

    <div class=" mb-3" >
        <%- include('./question17.ejs') %>
    </div>
</div>
</div>
</div>

<!--<div class="col-lg-4 mb-3">-->
<!--<label for="formFile" class="form-label"  >עובר ושב</label>-->
<!--<input class="form-control" type="file" id="formFile" placeholder="העלת עובר ושב ב3 חודשים אחרונים">-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-lg-3 mb-3">-->
<!--    <button type="button" class="btn btn-outline-primary mb-3" id="next9" >המשך</button>-->
<!--</div>-->
<!--</form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<!--</body>-->
<!--</html>-->